/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.nav-item {
    margin-right: 50px;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

/*Bootstrap override*/
.btn-primary {
    color: #fff;
    background-color: #2e4cff;
    border-radius: 0 0 ;
    outline-width: 0;
    font-weight: 600;
    font-size: 14px;

    padding: 4px 15px 4px 15px;
}
.btn-primary:hover {
    background-color: #4e67ff;
    outline-width: 0;
}
.btn-outline-light {
    font-weight: 600;
    font-size: 14px;
    border-radius: 0 0;
    outline-width: 0;
}

.btn-secondary {
    background-color: #cdcdcd;
    border-radius: 0 0;
    border: none;
    font-size: 14px;
    padding: 4px 15px 4px 15px;
}

.btn-secondary:hover {
    outline-width: 0;
    background-color: #c4c4c4;
}
.jumbotron {
    background-color: #f5f5f5;
    border-radius: 0;
    padding: 35px ;

    margin-top: 25px;
}
.col-sm-8 > h1, h4, p {
    margin-bottom: 20px;
} 

.nav-link{
    font-size: 14px;
}

.card-title {
    font-weight: 600;

}

.card {
    margin: 0px 0px 25px 0px !important;
}

.col-3 > .card {
    margin: 0 ;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 2px 0 rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: Montserrat;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.divide-line {
    margin: 0px 15px 0px 15px;
    color: #e3e3e3;
}

.display-custom {
    font-size: 30px;
    color: #2e4cff;
    font-weight: bold;
}

.category-name {
    color: #2e4cff !important;
    font-weight: 600;
    font-size: 14px;

    padding-bottom: 5px;
    margin-bottom: 25px;
}

.category {
    padding-left: 0;
    padding-right: 0;
}