@{
    ViewData["Title"] = "Contact";
}


<div class="jumbotron">
        <div class="col-sm-8" style="display:flex; flex-direction: column;">
            <h1 class="display-custom">THANK YOU</h1>
            <p class="mb-1">For watching this simple ASP.Net Core project. Hope it was useful resource for you.</p>
            <p class="mb-0">You can also check this cool <a href="">404 page</a> out ;) (soon)</p>
        </div>
</div>
