@model List<HelloCoreMvcApp.Models.ShoppingCart.ShoppingCartItem> 
@{
    double TotalPrice = 0;
}

<div class="container">

    <!-- FORM -->
    <form>
        <div class="form-group">
            <label>Name</label>
            <input class="form-control" placeholder="Enter name">
        </div>

        <div class="form-group">
            <label>Contact Number</label>
            <input class="form-control" placeholder="Enter number">
        </div>

        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="deliveryCheckBox">
            <label class="form-check-label">Need Delivery</label>
        </div>

        <div class="form-group" id="addressInput" style="display: none">
            <label>Address</label>
            <input class="form-control" placeholder="Enter address">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>


    <!-- CURRENT ORDER -->
    <ul class="list-group mt-4">
        <!-- HEADER -->
        <li class="list-group-item d-flex justify-content-between align-items-center bg-light"> Your current order:</li>

        <!-- ITEM LIST -->
        @foreach (var item in Model)
        {
            TotalPrice += item.Product.Price;
            <li class="list-group-item d-flex justify-content-between align-items-center">
                @item.Product.Company.Name @item.Product.Name
                <div class="float-right">
                    <span class="badge badge-success badge-pill">$@item.Product.Price</span>
                    <span class="badge badge-secondary badge-pill">@item.Quantity</span>
                </div>
            </li>
        }

        <!-- TOTAL -->
        <li class="list-group-item d-flex justify-content-between align-items-center bg-light">
            <p class="font-weight-bold text-success mb-0"> Total: $@TotalPrice </p>
        </li>

    </ul>

</div>

<script type="text/javascript">
    $(function () {
        $('#deliveryCheckBox').change(function () {
            if ($(this).is(':checked')) {
                $('#addressInput').show();
                return;
            }
            $('#addressInput').hide();
        });
    });
</script>