@{
    ViewData["Title"] = "Catalog";
}

<div class="border-bottom category-name"><a href="">// CATALOG</a></div>

<div class="container category">
    <div class="row card-deck">
        <div class="col-3">
            <a href="/catalog/viewitems?name=Phone">
                <div class="card" style="display:inline-block">

                    <div class="card-body">
                        <p class="card-title">Smartphones</p>
                    </div>
                    <img class="card-img-bottom" src="@( "https://source.unsplash.com/800x800/?" + "phones" )">

                </div>
            </a>
        </div>
    </div>
</div>