<a class="btn btn-light nav-link mr-2" href="/ShoppingCart">
    Cart <span class="badge badge-primary my-1 font-weight-normal">@{ if(@ViewData["CartCount"] != null) @ViewData["CartCount"] else @("0") }</span>
</a>