@model HelloCoreMvcApp.Models.ShoppingCart.ShoppingCart

<table class="table">
    <tr>
        <td>Name</td>
        <td>Quantity</td>
    </tr>

    @if (Model != null && Model.CartList.Any())
    {
        @foreach (var item in Model.CartList)
        {
            <tr>
                <td> @item.Product.Name </td>
                <td> @item.Quantity </td>
            </tr>
        }
    }
    else
    {
        @("Your cart is empty")
    }

</table>
